@import "assets/css/droidarabickufi.css";
html {
	direction: rtl;
}

body {
    text-align: right;
	font-family:Droid Arabic Kufi!important;
    letter-spacing: 0;
}
.offset-10 {
    margin-right: 82%;
    margin-left: unset;
}
.header-top .col-lg-10>.row {
    float: left;
}
form.search-form {
    text-align: left;
}
form.search-form:before {
    left: -35px;
    right: unset;
}
input.search-field {
    padding-left: 5px;
    padding-right: 35px;
	text-align: right;
}
.header-style-2 input.search-field {
    padding-right: 20px;

}
.social-list {
    padding-right: 0;
}
.title-right span.num {
    line-height: 0.7;
}
.title-left {
    float: right;
}
.final-project-view .title-left {
    float: right;
}
.title-right {
    float: left;
}
.top-title {
    left: unset;
	right: 5%;
}
.grid.first-post span.description {
    left: unset;
	right: 0;
}
.grid.little-post h2.item-title, .grid.little-post span.description {
    padding-left: 0;
	padding-right: 25px;
	line-height: 1;
}
.overly {
    left: 0;
    right: unset;
}
#slide-1 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(84, 66, 51)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")!important;
}
#slide-1 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(219, 216, 213)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")!important;
}
#slide-2 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(158, 158, 158)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")!important;
}
#slide-2 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(64, 64, 64)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")!important;
}
#slide-4 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(60, 55, 49)' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")!important;
}
#slide-4 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(118, 109, 97)' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")!important;
}
#slide-3 .carousel-item .col-sm-12.col-md-4.col-lg-4 button.btn.btn-primary.slider-button, .home .slide-4 .grid.col-lg-3:hover .btn-primary {
	right: unset;
    left: 25px;
}
section.slide-1 {
    background: url(images/slide-1-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.home section.slide-2 {
    background: url(images/slide-2-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.home section.slide-3>.container-fluid {
    background: url(images/slide-3-rtl.png) no-repeat left;
	background-size: auto 100%;
}
.home section.slide-4 {
    background: url(images/slide-4-rtl.jpg) no-repeat center bottom;
	background-size: cover;
}
.carousel-item {
    float: right;
    margin-left: -100%;
    margin-right: unset;
}
.text-page .main-content {
    background: url(images/background-1-rtl.png) center top no-repeat;
	background-size: 100%;
}
footer {
    background: url(images/bg-footer-rtl.jpg) no-repeat center center;
	background-size: cover;
}
footer.footer-style-2 {
    background: url(images/footer-1-rtl.png) no-repeat center top;
	background-size: cover;
    background-color: #d6cbbc;
}
.text-page footer {
    background-color: #f5f2ef;
}
.footer-right {
    margin-top: 5%;
    padding-right: 10% !important;
	padding-left: 15px!important;
}
footer .social-icon {
    padding-right: 50px;
    padding-left: 0;
}
footer>.container-fluid {
    background-position-x: 60%;
}
#footer-menu {
    margin: 10px 0 0 0;
}
#footer-menu a {
    padding-right: 15px;
    padding-left: 5px;
}
a#lang-select, .copy-1, .text-footer p, .footer-copy-row, #footer-menu a {
    font-size: 13px;
	text-align: justify;
    line-height: 1.5;
}
#menu-main a {
    font-size: 14px;
}
span.sold-icon, span.projects {
    font-size: 16px;
}
span.available-project {
    line-height: 1.3;
    padding-top: 0px;
	text-align: left;
}
.more-one .title-right .slide {
    margin-top: 10px;
}
.more-one h2.available-title {
    margin-bottom: 1rem;
}
.copy-2 {
    text-align: left;
    padding-left: 10% !important;
	padding-right: unset !important;
}
.navbar-nav {
    padding-right: 0;
    padding-left: unset;
}
button.btn.btn-primary.section-button {
	right:unset;
    left: 30px;
    float: left;
	padding-right: 10px;
	padding-left: 45px;
}
.title-left h2.slide {
    padding-right: 15px;
    padding-left: 0;
	padding-top: 5px;
}
.more-one .title-left h2.slide {
    line-height: 1.6;
}
.dropdown-toggle::after {
    margin-right: 0.255em;
    margin-left: 0;
}
.home .slide-4 span.description, #slide-3 .carousel-item .col-sm-12.col-md-4.col-lg-4 {
    text-align: justify;
}
.home #slide-3 span.description {
    font-size: 14px;
}
a#lang-select {
    font-size: 14px;
}
.list.rtl span.sold-icon {
    font-size: 13px;
}
h2.item-title {
    font-size: 1rem;
}
.first-post h2.item-title {
    font-size: 1.6rem;
	line-height: 2;
}
.download {
	right: unset;
    left: 0;
    border-radius: 0 50px 50px 0;
}
.item.item-7.liner:before {
    transform-origin: 65% 550%;
}
.final-project-view .overly {
    border-radius: 0 25px 25px 0;
}
.item-list-view tr td {
    padding-left: 0;
	padding-right: 20px;
}
.item-list-view tr td:nth-child(2), .item-list-view tr td:nth-child(4), .item-list-view tr td:nth-child(6) {
    border-right: 0;
	border-left: 1px solid #989797;
    padding-left: 0;
	padding-right: 10px;
}
.final-project-view .title-unit {
    padding-left: 0;
	padding-right: 45px;
}
.final-project-view .available-left-title img {
    padding-top: 5px;
}
.final-project-view.special .title-left p.slide {
    padding-right: 0;
	line-height: 1.4;
}
.slide-4 .grid.col-lg-3 {
    height: 445px;
}
.slide-4 .grid.col-lg-3:hover span.description {
    font-size: 13px;
    line-height: 1.5;
}
.home .slide-4 span.description {
    height: 55px;
    font-size: 12px;
    line-height: 1.5;
}
.bg-slide h1.center-text {
    line-height: 1.3;
}
.final-project-view .desc-unit {
    line-height: 1.5;
}
.content .items .item {
    width: 11%;
}
.content .items .item.item-1 {
    padding-right: 20px;
}
.final-project-view p.desc-building-access {
    line-height: 1.3;
}
h3.title-building-access {
    line-height: 1.5;
}
.final-project-view .title-unit p {
    line-height: 1.2;
}
.final-project-view .available .item p.item-1:nth-child(1), .content .item p.item-1:nth-child(1) {
    line-height: 1;
}
.item-list-view tr td:nth-child(8) {
    padding-left: 20px;
    padding-right: unset;
}
.grid.little-post span.description, .grid.little-post span.description-2 {
    font-weight: 300;
}
li.menu-item {
    margin-left: 23px;
}
@media (min-width: 992px) {
	.home section.slide-3>.container-fluid {
		min-height: 1000px;
	}
	.offset-lg-10 {
		margin-right: 83.333333%;
		margin-left: unset;
	}
}
@media (min-width: 769px) {
	#menu-main .navbar, .search-container {
		float: left;
	}
	ul.main-menu, ul#main-navigation {
		float: left;
		padding-right: 0;
	}
	.header-bottom .col-lg-6.right {
		text-align: left;
		padding-left: 0;
	}
	#header.fixed-menu #site-logo-2 {
		margin-right: 0;
	}
	.header-bottom .right a {
		padding-right: 25px;
		padding-left: 0;
	}
	#header.fixed-menu .col-lg-10.col-md-10 {
		padding-left: 5px;
	}
}
@media (max-width: 768px) {
	#language {
		right: unset;
		left: 10px;
	}
}
@media (min-width: 1550px) {
	#main-footer li.menu-item:first-child {
		margin-right: 0;
		margin-left: auto;
	}
	#main-footer li.menu-item:last-child {
		margin-left: 0;
		margin-right: auto;
	}
}

label.switch  {
    cursor: pointer;
    float: left;
}
.footer-right .col-lg-2.offset-10 {
    padding-left: 6%;
}
.header-top .col-lg-10.col-md-10 {
    padding-right: 15px;
	padding-left: 5%;
}
.back-general-post.massage, .back-general-post.select {
    margin-right: -15px !important;
}
.register-text h2 strong {
    font-size: 26px;
}

.switch label.switch {
    float: left;
}
select.form-control.radius {
    margin-bottom: 2px;
    float: left;
    height: 30px;
    font-size: 13px;
    padding: 0;
    padding-right: 5px;
}
#main-footer li:last-child {
    margin-left: 0;
	margin-right: auto;
}
#main-footer li:first-child {
    margin-right: 0;
	margin-left: auto;
}
#main-footer li:last-child a {
    padding-left: 0;
}
.footer-right nav.navbar.navbar-expand-lg {
    float: left;
}
.footer-right nav.navbar.navbar-expand-lg, footer a#lang-select {
    padding-left: unset;
	padding-right: 0;
}
.footer-right .container-fluid>.row {
    padding-left: 10%;
	padding-right: 0;
}
.copy-2, .footer-right .container-fluid>.row>.col-lg-12 {
    padding-left: 0 !important;
	padding-right: 15px !important;
}
.back-general-post .col-lg-6.gray {
    border-radius: 20px 0 0 20px;
}
.header-style-2.fixed-menu li.menu-item:last-child {
    margin-left: 0;
}
