@media screen and (max-width: 767px) {
    .logo-container .logo h1 {
        padding: 10px 0 10px 32px;
    }
    .logo-container .logo h1 .arabic span,
    .logo-container .logo h1 .arabic{
        font-size: 16px;
    }
    .logo-container .logo h1 .english,
    .logo-container .logo h1 .english span{
        font-size: 12px;
    }
    .project-intro .top-bar-info_cell.with-icon span{
        padding-left: 10px;
        padding-right: 0;
    }
    .project-intro .top-bar-info_cell {
        padding-left: 70px;
        padding-right: 20px;
    }
    .project-intro .top-bar-info--inner{
        border-radius: 15px;
    }
    .project-intro .top-bar-info_cell.with-icon {
        padding: 15px 20px !important;
    }
    .project-intro .top-bar-info_cell .info-icon{
        float: left;
    }
    .project-intro .top-bar-info_cell i{
        left: 70px;
        right: 20px;
    }
    .project-intro .top-bar-info_btn:after {
        right: 10px;
        left: auto;
        background: url(../svg/right-w.svg) no-repeat center right;
        background-size: 20px;
    }
    .project-intro .top-bar-info_btn {
        padding: 0 40px 0 10px;
        text-align: right;
    }
    .project-intro .right-side--menu li{
        margin-left: 0;
        margin-right: 10px;
    }
    .project-intro .left-side--info {
        right: auto;
        left: auto;
    }
    .project-intro .left-side--btn:nth-child(3){
        padding-left: 30px;
        padding-right: 5px;
        right: auto;
        left: 0;
    }
    .project-intro .left-side--btn{
        padding-left: 0;
        padding-right: 30px;
        left: auto;
        right: 0;
    }
    .project-intro .left-side--btn__btn-donate {
        padding: 0 0 0 15px;
        background: #c52828 url(../svg/right-w.svg) no-repeat calc(100% - 10px) center;
        background-size: 20px;
    }
    .project-intro .left-side--btn__heart {
        left: auto;
        right: 55px;
    }
    .project-intro .left-side--btn__btn-more {
        padding: 4px 0 4px 15px;
    }
    .project-intro .left-side--btn__btn-more:after {
        background: url(../svg/right-b.svg) no-repeat center;
    }
    .project-intro:after {
        border-top: 60px solid transparent;
        border-right: none;
        border-left: 100vw solid #2B8ACE;
        border-bottom: 40px solid #2B8ACE;
    }
    .news-container .archive-link,
    .help-container .archive-link,
    .image-gallery .archive-link,
    .video-gallery .archive-link{
        padding-right: 50px;
        padding-left: 10px;
    }
    .news-container .archive-link:after,
    .help-container .archive-link:after,
    .video-gallery .archive-link:after{
        background: url(../svg/right-b.svg) no-repeat scroll center;
        background-size: 25px;
    }
    .image-gallery .archive-link:after {
        background: url(../svg/right-w.svg) no-repeat scroll center;
        background-size: 25px;
    }
    .time-line-box .right-side--header {
        padding-right: 0;
        padding-left: 15px;
    }
    .time-line-container .btn-donate {
        padding: 0 0 0 15px;
        background: #c52828 url(../svg/right-w.svg) no-repeat calc(100% - 10px) center;
        background-size: 20px;
        left: auto;
    }
    .time-line-container .btn-donate .left-side--btn__heart {
        right: calc(50% - 60px);
        left: auto;
    }
    .help-container .archive-link{
        right: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (width: 1024px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}